@page
@model LoadDBRazor.Pages.Stu.IndexModel
@{
}
<h1>Welcome to Student Page</h1>
<a href="Add" class="btn btn-primary">Add</a>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Gender</th>
        <th>Gender</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Dob</th>
        <th>Gpa</th>
    </tr>
    @foreach(var item in Model.students)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@(item.Gender ? "Male" : "Female")</td>
            <td><input type="checkbox" checked="@(item.Gender)" value="IsMale" name="chkGender@(item.Id)" /></td>
            <td>
                <select name="cboGender@(item.Id)">
                    <option value="@true" selected="@(item.Gender)">Male</option>
                    <option value="@false" selected="@(!item.Gender)">Female</option>
                </select>
            </td>
            <td>
                <input type="radio" checked="@(item.Gender)" name="rdGender@(item.Id)" /> Male
                <input type="radio" checked="@(!item.Gender)" name="rdGender@(item.Id)" /> Female
            </td>
            <td>@item.Depart.Name</td>
            <td>@item.Dob</td>
            <td>@item.Gpa</td>
        </tr>
    }
</table>